{% extends 'layout.twig' %}
{% block styles %}


{% endblock %}
{% block body %}

  <!-- Navigation -->

  <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <section class="main-page">

      <div class="masthead clearfix">
        <div class="inner">
          <img src="/images/logo-h.png" alt="">
        </div>
      </div>

      <div class="container-fluid main-container">
        <div class="col-md-7 b-left">
          <h1 class="mb-5">
            Pour commencer,<br> flashez le code ci-contre <br> ou rendez-vous sur
                        <span id="qr-link-2">

                    </span>
          </h1>
          <a href="" class="btn btn-outline btn-xl js-scroll-trigger">Essayer un autre code!</a>
        </div>
        <div class="col-md-5 b-right">
          <div class="b-mobile">
            <img src="/images/simple-me.png">
            <div id="qr-code" class="block-qrcode">
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="game-page hide">

      <div id="countdown" class="pietimer">
        <div id="countdown-number" class="pietimer-number"></div>
        <svg>
          <circle r="18" cx="20" cy="20"></circle>
        </svg>
      </div>

      <div class="masthead clearfix">
        <div class="inner">
          <img src="/images/logo-h.png" alt="">
        </div>
      </div>

      <div class="container-fluid main-container">
        <div class="col-md-12">

          <div class="header-text text">
            <p>Plus que <span id="timer-count"></span> secondes pour tenter de combler votre petit creux</p>
          </div>

          <div id="slot-block" class="block-slot">
            <div class="row">
              <div class="col-xs-4">
                <div>
                  <div id="machine1" class="randomize-block">
                    <div><img src="/images/slot/slot1.png" /></div>
                    <div><img src="/images/slot/slot2.png" /></div>
                    <div><img src="/images/slot/slot3.png" /></div>
                    <div><img src="/images/slot/slot4.png" /></div>
                    <div><img src="/images/slot/slot5.png" /></div>
                  </div>
                </div>
              </div>

              <div class="col-xs-4">
                <div>
                  <div id="machine2" class="randomize-block">
                    <div><img src="/images/slot/slot1.png" /></div>
                    <div><img src="/images/slot/slot2.png" /></div>
                    <div><img src="/images/slot/slot3.png" /></div>
                    <div><img src="/images/slot/slot4.png" /></div>
                    <div><img src="/images/slot/slot5.png" /></div>
                  </div>
                </div>
              </div>

              <div class="col-xs-4">
                <div>
                  <div id="machine3" class="randomize-block">
                    <div><img src="/images/slot/slot1.png" /></div>
                    <div><img src="/images/slot/slot2.png" /></div>
                    <div><img src="/images/slot/slot3.png" /></div>
                    <div><img src="/images/slot/slot4.png" /></div>
                    <div><img src="/images/slot/slot5.png" /></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="footer-text text">
          <p> <span id="essais">3</span> essais restants</p>
        </div>

      </div>

    </section>

    <div class="mastfoot">
      <div class="inner">
        <p>©2017 All rights reserved. Designed by <a href="http://www.acrelec.com">Acrelec</a>.</p>
      </div>
    </div>

  </div>

  </div>


  {#<button id="ranomizeButton" class="btn-lg">Start shuffle</button>#}

  <script type="text/javascript" src="/node_modules/jquery.qrcode/jquery.qrcode.min.js"></script>
  <script>
    var rootUrl = window.location.href+"play/";
    $(document).ready(function() {
      if (rootUrl != 'http://localhost:3000/play/'){
        rootUrl = 'http://acrelec.digital-link.io/play/';
    }
      console.log(rootUrl);
      link2 = rootUrl+"{{ rand }}";

      // getting the shortener url from google
      $.ajax({
        url: 'https://www.googleapis.com/urlshortener/v1/url?shortUrl=http://goo.gl/fbsS&key=AIzaSyDvoYPaikzYtNfJiyzaXM-W95xUS6kqrJM',
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: '{ longUrl: "' + link2 +'"}',
        dataType: 'json',
        success: function(response) {
          shortenerUrl = response.id; // Evaluate the J-Son response object.

          $('#qr-code').qrcode(shortenerUrl);


          $('#qr-link-2').html("<a href="+shortenerUrl+">"+shortenerUrl+"</a>");

        }
      });


    });
  </script>

  <script>
    $(document).ready(function(){

      let settings = {
        countdown : 60, // seconds
      };

      let $text_countdown  = $("span#timer-count");


      let timerCountDown = function () {
        let countdownNumberEl = document.getElementById('countdown-number');
        let countdown = settings.countdown;

        countdownNumberEl.textContent = countdown;

        let intId = setInterval(function() {

          if (countdown < 2){
            clearInterval(intId);
            // call function to handle timeout :: loose
            reloader();
          }

          countdown = --countdown <= 0 ? settings.countdown : countdown;

          let countdownT = countdown < 10 ? "0"+countdown : countdown;
          countdownNumberEl.textContent = countdownT;
          $text_countdown.text(countdownT);


        }, 1000);
      };




      initBackgroundAnimation = function(){

        let colors = [
          [244, 107, 69],
          [238, 168, 73],
          [192, 36, 37],
          [240, 203, 53],
          [237, 143, 3],
          [248, 181, 0]
        ];

        let step = 0;
        //color table indices for:
        // current color left
        // next color left
        // current color right
        // next color right
        let colorIndices = [0,1,2,3];

        //transition speed
        let gradientSpeed = 0.002;

        function updateGradient()  {

          if ( $===undefined ) return;

          let c0_0 = colors[colorIndices[0]];
          let c0_1 = colors[colorIndices[1]];
          let c1_0 = colors[colorIndices[2]];
          let c1_1 = colors[colorIndices[3]];

          let istep = 1 - step;
          let r1 = Math.round(istep * c0_0[0] + step * c0_1[0]);
          let g1 = Math.round(istep * c0_0[1] + step * c0_1[1]);
          let b1 = Math.round(istep * c0_0[2] + step * c0_1[2]);
          let color1 = "rgb("+r1+","+g1+","+b1+")";

          let r2 = Math.round(istep * c1_0[0] + step * c1_1[0]);
          let g2 = Math.round(istep * c1_0[1] + step * c1_1[1]);
          let b2 = Math.round(istep * c1_0[2] + step * c1_1[2]);
          let color2 = "rgb("+r2+","+g2+","+b2+")";

          $('body').css({
            background: "-webkit-gradient(linear, left top, right top, from("+color1+"), to("+color2+"))"}).css({
            background: "-moz-linear-gradient(left, "+color1+" 0%, "+color2+" 100%)"});

          step += gradientSpeed;
          if ( step >= 1 )  {
            step %= 1;
            colorIndices[0] = colorIndices[1];
            colorIndices[2] = colorIndices[3];

            //pick two new target color indices
            //do not pick the same as the current one
            colorIndices[1] = ( colorIndices[1] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;
            colorIndices[3] = ( colorIndices[3] + Math.floor( 1 + Math.random() * (colors.length - 1))) % colors.length;

          }
        }


        setInterval(updateGradient,20);

      };


      initBackgroundAnimation();





      var socket = io();

      var reloader = function reloader(){
        socket.emit('loose', '{{ rand }}');
        window.location.reload();
      }



      socket.on('Result', function(what){

        what ? window.location.reload():null;

      });



      socket.on('playPressed', function(essais){

        gessais = essais;

        $("#essais").text(gessais);

        startSchufle();


      });


      socket.emit('createRoom','{{ rand }}');




      socket.on('joinRoom', function(){

        $mainPage = $("section.main-page");
        $gamePage = $("section.game-page");

        $mainPage.addClass("hide");
        $gamePage.removeClass("hide");

        timerCountDown();


        initMachines();


      });

      function initMachines(){
        machine1 = $("#machine1").slotMachine({
          active	: 0,
          delay	: 600
        });

        machine2 = $("#machine2").slotMachine({
          active	: 1,
          delay	: 700,
          direction: 'down'
        });

        machine3 = $("#machine3").slotMachine({
          active	: 2,
          delay	: 800
        });
      }

      function onComplete(){


        switch(this.element[0].id){
          case 'machine1':
            active1 = this.active;
            break;
          case 'machine2':
            active2 = this.active;
            break;
          case 'machine3':
            active3 = this.active;
            break;
          case true:

        }

        if (this.element[0].id=='machine3'){
          checks(active1, active2, active3);
        }




        if (gessais<=0){
          setTimeout(function(){

            reloader();

          },1500);
        }
      }


      function startSchufle(){


        machine1.shuffle(5, onComplete);


        machine2.shuffle(5, onComplete);

        machine3.shuffle(5, onComplete);



      }

      function checks(active1, active2, active3) {
        console.log(active1 + " " + active2 + " " + active3);

        packetChecker = {active1: active1, active2: active2, active3: active3, room: '{{ rand }}'}

        socket.emit('checks', packetChecker);

      }




    });





  </script>


{% endblock %}
