{% extends 'layout.twig' %}
{% block styles %}

  <style>

    video#bgvid {
      position: fixed; right: 0; bottom: 0;
      min-width: 100%; min-height: 100%;
      width: auto; height: auto; z-index: -100;
      background-size: cover;
    }

  </style>

{% endblock %}
{% block body %}

  <!-- Navigation -->
  <div class="overlay">

  <video allowfullscreen autoplay loop id="bgvid">
    <source src="/images/paysage.mp4" type="video/mp4">
  </video>

  </div>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">

      <section class="main-page ">

        <div class="masthead clearfix">
          <div class="inner">
            <img src="/images/logo-h.png" alt="">
          </div>
        </div>

        <div class="container-fluid main-container">
          <div class="col-md-7 col-sm-12 col-xs-12 b-left">
            <h1 class="mb-5">
              Come try your luck to win an Acrelec Giveaway!
              <br><br>
              <p class="moving_text">To start playing, use your smartphone to scan the QR Code</p>
            </h1>

          </div>
          <div class="col-md-5 col-sm-12 col-xs-12 b-right">
            <div class="b-mobile vien_mobile">
              <img src="/images/phone_machine.png" class="mobile_img">
              <div class="content_block_mobile">
                <div id="qr-code" class="block-qrcode">
                </div>

                <div class="content_mobile">
                            <span id="qr-link-2">
                            https://goo.gl/h4C5H1
                            </span>
                </div>
              </div>



            </div>
            <p class="moving_text_hide">To start playing, use your smartphone to scan the QR Code</p>
            <a href="" class=" btn_accrelec btn btn-outline btn-xl js-scroll-trigger">TRY ANOTHER CODE!</a>
          </div>
        </div>

      </section>

      <section class="form-page flex_div hide">

        <div class="masthead clearfix">
          <div class="inner">
            <img src="/images/logo-h.png" alt="">
          </div>

          <div id="countdown-2" class="pietimer">
            <div id="countdown-number-2" class="pietimer-number"> </div>
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle  stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>

        </div>

        <div class="container-fluid main-container game_container">
          <div class="col-md-12">
            <div class="header-text text">
              <p>You have to fill the form in your smartphone before playing.</p>
            </div>
          </div>
          <div class="footer-text text">
            <div class="img-footer">
              <img src="/images/bg_down.png" >
            </div>
          </div>
        </div>

      </section>

      <section class="game-page hide">

        <div class="masthead clearfix">
          <div class="inner">
            <img src="/images/logo-h.png" alt="">
          </div>

          <div id="countdown" class="pietimer">
            <div id="countdown-number" class="pietimer-number"> 20 </div>
            <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle  stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>

        </div>

        <div class="container-fluid main-container game_container">
          <div class="col-md-12">

            <div class="header-text text">
              <p>Let's play, you have only <span id="timer-count">60</span> seconds remaining to win.</p>
            </div>

            <div id="slot-block" class="block-slot">
              <div class="row">
                <div class="col-xs-4">
                  <div>
                    <div id="machine1" class="randomize-block">
                      <div><img src="/images/slot/slot3.png" /></div>
                      <div><img src="/images/slot/slot4.png" /></div>
                      <div><img src="/images/slot/slot5.png" /></div>
                      <div><img src="/images/slot/slot6.png" /></div>
                      <div><img src="/images/slot/slot7.png" /></div>
                      <div><img src="/images/slot/slot8.png" /></div>

                    </div>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div>
                    <div id="machine2" class="randomize-block">
                      <div><img src="/images/slot/slot3.png" /></div>
                      <div><img src="/images/slot/slot4.png" /></div>
                      <div><img src="/images/slot/slot5.png" /></div>
                      <div><img src="/images/slot/slot6.png" /></div>
                      <div><img src="/images/slot/slot7.png" /></div>
                      <div><img src="/images/slot/slot8.png" /></div>

                    </div>
                  </div>
                </div>

                <div class="col-xs-4">
                  <div>
                    <div id="machine3" class="randomize-block">
                      <div><img src="/images/slot/slot3.png" /></div>
                      <div><img src="/images/slot/slot4.png" /></div>
                      <div><img src="/images/slot/slot5.png" /></div>
                      <div><img src="/images/slot/slot6.png" /></div>
                      <div><img src="/images/slot/slot7.png" /></div>
                      <div><img src="/images/slot/slot8.png" /></div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="footer-text text">
            <p id="lastEssais"> <span id="essais">3</span> attempts left</p>
            <div class="img-footer">
              <img src="/images/bg_down.png" >
            </div>
          </div>

        </div>

      </section>




    </div>

  </div>

  <span id="rand" data-rand="{{ rand }}"></span>





  <script type="text/javascript" src="/node_modules/jquery.qrcode/jquery.qrcode.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>

  <script type="text/javascript">


    $(document).ready(function() {

      $('.overlay').on('click', function(ev) {
        $('.overlay').hide();
        var fullScreenFresh = setTimeout(function() {
          if ($('.main-page').is(":visible")) {
            $('.overlay').show();
          }
        },35000);
      });

    });




  </script>




{% endblock %}
