{% extends 'layout2.twig' %}

{% block body %}

    <div class="container-fluid site-wrapper app-mobile-loose">


        <div class="app-logo">
            <img src="/images/logo-h.png" alt="">
        </div>


        <p class="loose-big">
            <span>
                you loose
            </span>
        </p>

        <p class="small-text">
            We are sorry that you were not selected as one of today's winners. <br>Please visit us tomorrow for another chance to win.
        </p>



    </div>



{% endblock %}
