{% extends 'layout.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="block block-three text">
                    <span>You lose !</span>
                </div>


                <div class="block block-two rotate">
                    <img class="img-port" src="/images/loose.png" alt="">
                    <i class="fa fa-thumbs-up img-land" aria-hidden="true"></i>
                </div>

                <div class="block block-one text">
                    <span>We are sorry that you were not selected as one of today's winners. <br>Please visit us tomorrow for another chance to win.</span>
                </div>




            </div>
        </div>
    </div>




{% endblock %}
