{% extends 'layout.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="block block-one text">
                    <span>Game not found</span>
                </div>

                <div class="block block-two rotate">
                    <img class="img-port" src="/images/notfound.png" alt="">
                    <i class="fa fa-thumbs-up img-land" aria-hidden="true"></i>
                </div>

            </div>
        </div>
    </div>




{% endblock %}
