<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DEMO</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <link rel='stylesheet' href='/bower_components/jQuery-SlotMachine/dist/jquery.slotmachine.min.css' />
  <!-- Optional theme -->
  <link rel='stylesheet' href='/stylesheets/style.css' />



  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/jQuery-SlotMachine/dist/jquery.slotmachine.min.js"></script>


  <script src="/socket.io/socket.io.js"></script>

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/new-age.css" rel="stylesheet">
  <link href="/stylesheets/app.css" rel="stylesheet">
</head>

<body id="page-top" class="page-desktop">
{% block body %}{% endblock %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img src="images/logo-h.png" class="img-logo" alt="">
    </a>
    </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Pour commencer, flashez le code ci-contre ou rendez-vous sur <span id="qr-link-2"></span> </h1>
          <a href="" class="btn btn-outline btn-xl js-scroll-trigger">Essayer un autre code!</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <!--<img src="build/img/demo-screen-1.jpg" class="img-fluid" alt="">-->
                <div id="qr-code" class="qr-block"></div>
                <div id="qr-link" class="qr-link"></div>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script type="text/javascript" src="/node_modules/jquery.qrcode/jquery.qrcode.min.js"></script>
<script>
  $(document).ready(function() {
    link2 = "http://link.com";
    $('#qr-code').qrcode(link2);
    $('#qr-link-2').text(link2);

  });
</script>

</body>

</html>

