{% extends 'layout.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="block block-one text">
                    <span>Thank you !</span>
                </div>

                <div class="block block-two rotate">
                    <img class="img-port" src="/images/win.png" alt="">
                    <i class="fa fa-thumbs-up img-land" aria-hidden="true"></i>
                </div>

                <div class="block block-three text">
                    <span>You win !</span>
                </div>


            </div>
        </div>
    </div>




{% endblock %}
