{% extends 'layout2.twig' %}

{% block body %}


    <div class="container-fluid site-wrapper app-mobile-win">

        <canvas height='1' id='confetti' width='1'></canvas>

        <div class="app-logo">
            <img src="/images/logo-h.png" alt="">
        </div>

        <div class="stage">
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
            <div class="layer"></div>
        </div>

    </div>



{% endblock %}
