body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

html, body {
  min-height: 100vh;
  display: table;
  background: #f37321;
  font-family: Roboto, sans-serif!important;
  font-size: 1rem;
  font-weight: 100;
  background-size: cover !important;
  width: 100%;
  background-repeat: no-repeat !important;
  line-height: 1.5;
}

body:before{
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.show-off
{
  width: 100%;
  height: 200vh;
  position: absolute;
  overflow: hidden;
  top: -20%;
  left: -20%;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.1)100%);
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.1)100%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.1)100%);
  background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.1)100%);
  z-index: 999;
}

a {
  color: #fff;
}

.acrelec-color, label {
  color : #f37321;
}

.site-wrapper {
  display: table;
  width: 100%;
  min-height: 100vh;
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.site-wrapper-inner {
  display: table;
  width: 100%;
  position: relative;
}

.site-wrapper-inner section {
  display: table;
  position: relative;
  width: 100%;
}

/***/

.masthead {
  height: auto;
  width: 100%;
}
.masthead .inner {
  display: inline-block;
  float: left;
  position: relative;
  width: 200px;
  height: auto;
  padding: 10px;
  margin : 30px 0 0 20px;
}
.masthead .inner img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-filter: drop-shadow(0px 0px 0px #607D8B) brightness(0) invert(1);
  filter: drop-shadow(0px 0px 0px #607D8B) brightness(0) invert(1);
}


.pietimer {
  position: relative;
  float: right;
  height: 40px;
  width: 40px;
  margin: 50px 40px;
  text-align: center;
  transform: scale(1.5);
}

.pietimer .pietimer-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

.pietimer svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.pietimer svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 60s linear infinite forwards; /* timer */
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}



/***/

.main-container {
  display: table;
  width:100%;
  position: relative;
}


.main-container .b-left {
  padding: 4em;
}

.main-container .b-left .mb-5 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 3vw;
  text-align: justify;
  text-shadow: 0px 3px 8px #2a2a2a;
}

.main-container .b-left span {
  font-size: 2vw;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn_accrelec {
  font-size: 0.7vw;
  padding: 15px 35px;
  border-radius: 300px;
  letter-spacing: 2px;
  border: 1px solid;
  border-color: white;
  text-transform: uppercase;
  background-color: #fff;
  color : #FF5722;
  margin-top: 1em;
}


.btn_accrelec:hover {
  background-color: #fff;
  color : #FF5722;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
}



.b-right .b-mobile {
  position: relative;
  width: 20vw;
  padding: 0; /* reset */
  /* right: 20px; */
  margin: 0 auto 30px;
  left: 25px;
}
.link_mobile {
  display: block;
  white-space: nowrap;
  font-size: 14px;
  margin-top: 10px;
}
.content_mobile{
  display: block;
  font-size: 1em;
  position: absolute;
  bottom: 27%;
  width: 100%;
  text-align: center;
}
.b-right .b-mobile img {
  width: 100%;
  height: auto;
}

.b-mobile .block-qrcode {
  width: 100%;
  position: absolute;
}
.content_block_mobile{
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  position: absolute;
  width: 60%;
  height: 100%;
  top:0;
  margin : 0 auto;
  left: 2.3vw;
}

.b-mobile .block-qrcode img,
.b-mobile .block-qrcode canvas,
.b-mobile .block-qrcode div {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}



/***/

.mastfoot {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.mastfoot .inner {
  display: block;
  position: relative;
  padding: 10px;
  margin : 10px 0 0 0;
  text-align: center;
}


/*=============================================================*/



.text {
  text-align: center;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 2vw;
  margin-top: 0;
}

.text p {
  text-transform: uppercase;
  font-size: 5vw;
  letter-spacing: -1px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 3px 8px #2a2a2a;
}

.header-text {
  max-width: 70%;
  margin : 0 auto;
  margin-top: 1.5em;
}

.footer-text {
  max-width: 70%;
  margin : 0 auto;
}

.block-slot {
  height: auto;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

.block-slot .row > div.col-xs-4 > div {
  padding-top: 40px;
  padding-left: 40px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 10%;
  margin: auto;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.7);
}

.block-slot .randomize-block {
  width: 120px;
  height: 120px;
  transform: scale(1.5);
  -webkit-transform : scale(1.5);
}

.block-slot .randomize-block img {
  display: block;
  width: 100%;
  height: 100%;
}


.img-footer {
  position: relative;
  width: 100%;
  height: auto;
  margin : 3em 1em;
  margin-top: 5em;
}
.img-footer img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  border:2px solid #fff;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.7);
}


/*=============================================================*/

@media (min-width: 992px) {

  .flex_section {
    display: flex;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    min-height:90vh;
  }
}

@media (max-width: 992px) {
  .main-container .b-left .mb-5 {text-align: center;}
  .b-right .b-mobile { float: none; margin: 0 auto 20px; right: auto; width: 30vw;}
  .content_block_mobile {left: 3.5vw}
  .masthead{display: table;}
}

@media (max-width: 760px) {

  .main-page .masthead .inner {
    float: none;
  }

  .b-right .b-mobile {
    width: 40vw;
  }
  .content_block_mobile {
    left: 5vw;
  }
  .btn_accrelec {
    font-size: 1.5vw;
    padding: 15px 35px;
    border-radius: 300px;
    letter-spacing: 2px;
    border: 1px solid;
    border-color: white;
    text-transform: uppercase;
    background-color: #fff;
    color : #FF5722;
    margin-top: 2em;
  }
}

@media (max-width: 500px) {
  .b-right .b-mobile {
    width: 70vw;
  }
  .content_block_mobile {
    left: 8.5vw;
  }
  .main-container .b-left .mb-5{font-size: 1.5em !important;}
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {

}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px) {

}

/* Sur les téléviseurs */
@media tv {

}

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait), screen and (max-width: 1080px) and (min-height: 1920px) {

  .main-container {
    height: 100%;
    padding: 20px;
    text-align: center;
    margin-top : 4vh;
  }

  .main-container .b-left, .main-container .b-right {
    width: 100%;
    height: auto;

  }

  .main-container .b-left .mb-5 {
    text-align: center;
    font-size: 2em;
  }
  .main-container .b-left span {
    font-size: 3vw;
  }
  .main-container .b-left .btn-outline {
    font-size: 2vw;
    padding: 2vw 5vw;
  }

  .mastfoot .inner {
    font-size: 2vw;
  }
}
